* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.nav-mobile {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5927e5;
  box-shadow: 0px 1px 10px #999;
}

.logo {
  font-family: "Pixelify Sans", cursive;
  font-size: 28px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.nav-desktop {
  display: none;
  background-color: #5927e5;
}

.banner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  padding-left: 50px;
}

.banner-text h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 20px;
  color: #5927e5;
}

.banner-text h5 {
  font-size: 1em;
  font-weight: 400;
  color: black;
}

.banner-text h4 {
  font-size: 1.3em;
  font-weight: 400;
  color: black;
}

.banner-icons {
  display: flex;
  margin-top: 40px;
}

.banner-icons a {
  margin-right: 10px;
}

.banner-icons img {
  width: 50px;
}

#cv {
  background-color: #5927e5;
  padding: 10px 10px;
  border-radius: 10px;
  height: 100%;
}

#cv:hover {
  background-color: #fff;
  color: #5927e5;
  border: 1px solid #5927e5;
}

.arrow {
  align-self: center;
}

.arrow img {
  width: 50px;
  padding: 10px;
  border: 1px solid #5927e5;
  border-radius: 50%;
}

.arrow img:hover {
  background-color: #5927e5;
  stroke: white;
}

.about-me {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #5927e5;
}

.about-text {
  background-color: #fff;
  padding: 40px 0;
}

.about-text h2 {
  text-align: center;
  font-size: 2em;
  color: #5927e5;
  margin-bottom: 20px;
}

.about-text p {
  padding: 0 20px;
  text-align: center;
  color: black;
}

.tech-stacks {
  width: 100%;
  background-color: #5927e5;
  padding: 30px 0;
}

.tech-stacks h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.icon img {
  width: 80%;
  margin-bottom: 5px;
}

.icon h4 {
  font-weight: 400;
  color: #fff;
}

.projects {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #fff;
}

.projects h2 {
  font-size: 2em;
  color: #5927e5;
}

.contact-me {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  background-color: #5927e5;
}

.contact-me h2 {
  text-align: center;
  font-size: 2em;
}

.contact-me form {
  margin: 10px;
}

.contact-me form h4 {
  margin-bottom: 5px;
  font-weight: 400;
}

.contact-me form input {
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #5927e5;
}

.contact-me form textarea {
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #5927e5;
}

.contact-me form button {
  padding: 5px 10px;
  border: 1px solid #5927e5;
  border-radius: 20px;
  color: black;
}

footer {
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  background-color: #fff;
}

footer p {
  color: #5927e5;
}

@media (width >= 768px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    height: 80px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px #999;
  }

  .logo {
    margin-left: 40px;

    font-size: 2em;
  }

  .nav-desktop li {
    display: flex;
    margin-right: 20px;
  }

  .nav-desktop li ul {
    padding: 5px 15px;
  }

  .nav-desktop li ul a {
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
  }

  .nav-desktop li ul a:hover {
    background-color: #fff;
    color: #5927e5;
  }

  .banner-text h1 {
    font-size: 4em;
  }

  .banner-text h5 {
    font-size: 2em;
  }

  .banner-text h4 {
    font-size: 2.5em;
  }

  .banner-icons img {
    padding: 5px;
  }

  .about-me {
    margin: 20px 0 10 0px;
  }

  .about-text {
    margin-bottom: 30px;
  }
  .about-text h2 {
    font-size: 3em;
  }

  .about-text p {
    font-size: 1.5em;
    text-align: center;
  }

  .tech-stacks h2 {
    font-size: 3em;
  }

  .stack-list {
    margin-bottom: 40px;
  }

  .icon {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }

  .icon img {
    width: 40%;
    margin-bottom: 10px;
  }

  .projects h2 {
    font-size: 3em;
  }

  .contact-me h2 {
    font-size: 3rem;
  }

  .contact-me form h4 {
    font-size: 1.5rem;
  }

  .contact-me form input {
    font-size: 1.3em;
  }

  .contact-me form textarea {
    font-size: 1.3em;
  }

  .contact-me form button {
    font-size: 1.3em;
    padding: 10px 20px;
  }
}

@media (width >= 1024px) {
  .about-me {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #5927e5;
  }

  .banner-items {
    margin-left: 50px;
  }

  .banner-text h1 {
    font-size: 5em;
  }

  .banner-icons img:hover {
    background-color: #eee;
  }

  .contact-me {
    padding: 0 40px;
  }
}
